* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
:root {
  --panel-color: #363740;
  --border-color: #dde2ff;
  --nav-menu: #a4a6b3;
  --a-link: #dde2ff;
  --li-hover: #9fa2b4;
  --section-btn: #eef2f5;
  --box: #9dadb9;
  --section-btn-2: #10cd45;
  --wihite: #ffffff;
  --section-menu: #878787;
  --profits-number: #00ca39;
  --losses-number: #e44067;
  --table-people-menu: #eef2f5;
  --black: #000000;
  --white: #ffffffff;
}
.dark {
  --panel-color: #79f70b;
  --border-color: #fc0303;
  --nav-menu: #424247;
  --a-link: #080808;
  --li-hover: #24e816;
  --section-btn: #0df3f3;
  --box: #205d8d;
  --section-btn-2: #fd0808;
  --wihite: #0b0b0b;
  --section-menu: #e1d5d5;
  --profits-number: #550cfe;
  --losses-number: #d4f80a;
  --table-people-menu: #52f905;
  --black: #ffff;
  --white: #000000;
}
ul {
  list-style-type: none;
}
li {
  padding: 18px 24px 18px 26px;
  display: flex;
  align-items: center;
  gap: 30px;
}
li:hover {
  background-color: var(--li-hover);
  transition: var(--tran-05);
  border-left: 4px solid var(--border-color);
  justify-content: left;
}
a {
  text-decoration: none;
  color: var(--a-link);
  width: 159px;
  height: 20px;
  top: 18px;
  left: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  letter-spacing: 0.20000000298023224px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--panel-color);
  overflow: hidden;
  transition: 0.5s;
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 18.08px;
  padding-bottom: 71px;
  padding-top: 36px;
  padding-left: 23px;
}
.nav-menu-h3 {
  color: var(--nav-menu);
  width: 105px;
  height: 24px;
  top: 41px;
  left: 76px;
  font-size: 19px;
  font-weight: 700;
  line-height: 23.85px;
  letter-spacing: 0.4000000059604645px;
  transition: 0.5s;
}
.nav-menus {
  height: calc(100% - 150px);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.line-horizontal {
  height: 1px;
  background-color: var(--black);
}
section {
  background-color: var(--wihite);
  position: relative;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: 0.5s;
}
.hamburger {
  fill: var(--black);
  margin: 40px 0 0 25px;
  transition: 0.5s;
}
.people-name {
  color: var(--black);
  padding-right: 36px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.hamburger__people {
  display: flex;
  justify-content: space-between;
}
.section-over {
  color: var(--black);
  padding-top: 53px;
  width: 180px;
  height: 47px;
  top: 128px;
  left: 283px;
  font-size: 39px;
  font-weight: 400;
  line-height: 46.8px;
  transition: 0.5s;
}
.section-btn__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 71.09px;
  height: 35.5px;
  border-radius: 5px;
  background-color: var(--section-btn);
  border: none;
}
.box {
  width: 5px;
  height: 5px;
  background-color: var(--box);
}
.section-btn__2 {
  width: 71.09px;
  height: 35.5px;
  border-radius: 5px;
  background-color: var(--section-btn-2);
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: center;
  color: var(--wihite);
}
.buttons {
  padding-top: 59px;
  display: flex;
  gap: 32px;
}
.section-btns {
  padding-right: 37px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.top {
  background-color: var(--white);
  position: sticky;
  top: 0;
  left: 250px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  transition: var(--tran-05);
  z-index: 1000;
}
nav.close {
  width: 73px;
}
nav.close .nav-menu-item ul li a {
  opacity: 0;
}
nav.close .nav-menu-h3 {
  opacity: 0;
}
nav.close .mode-link {
  opacity: 0;
}
nav.close ~ section {
  left: 73px;
  width: calc(100% - 73px);
}
